# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=els
DB_PASSWORD=111111
DB_NAME=device_management

# JWT配置
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# 服务器配置
PORT=5000
NODE_ENV=development

# 前端配置
REACT_APP_API_URL=http://localhost:5000/api

# 阿里云OSS配置
USE_OSS_STORAGE=true
OSS_ACCESS_KEY_ID=LTAI5tBExxxxxxxsYHmGJY1w
OSS_ACCESS_KEY_SECRET=UC3xINxxxxxxxjOLRWpFljWlKiog
OSS_BUCKET=els-pub-04
OSS_REGION=oss-cn-shanghai
OSS_BASE_PATH=static/After-sales management system
